* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(204, 211, 250);
}

main {
  user-select: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-family: monospace;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  flex-wrap: wrap;
}

.grid-cards {
  max-width: 100%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
}

.grid-cards > images {
  max-width: 100%; 
}

.grid-cards > p {
  align-self: center;
  font-size: 1.75em;
  font-weight: 600;
  font-family: monospace;
}
