* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(200, 150, 50, 0.8);
}

#root {
  display: grid;
  grid-template: .1fr 1fr / 1fr;
  row-gap: 1.5em;
}

main {
  user-select: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: monospace;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  flex-wrap: wrap;
}

.grid-cards {
  max-width: 100%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(200, 150, 0, 0.5);
  cursor: pointer;
}

.grid-cards > images {
  max-width: 100%; 
}

.grid-cards > p {
  align-self: center;
  font-size: 2.25em;
  font-weight: 600;
  font-family: monospace;
}
